JWT_SECRET_KEY='32 bit random string'
BACKENDPORT=3001
PAS_PATH="C:/UNIVERSITY OF PRETORIA/YEAR 3/SEMESTER 2/COS 301/Copy of ProjectAirsim-Blocks-Windows/ProjectAirsim-Blocks-Windows/Windows"
AS_PATH="C:/Users/shavi/Documents/Code/airsim/cl/Coastline.exe"
SQLITE_DB_PATH="C:/UNIVERSITY OF PRETORIA/YEAR 3/SEMESTER 2/COS 301/DATABASE/app.db"