# example env file

ENV=development
DATABASE_URL=sqlite:///app/data/app.db
WEBSOCKET_PORT=8000
BACKENDPORT=3001
UV_LINK_MODE=copy # prevent faulty symlinks

# add the paths to your simulator executables here

AS_PATH="C:/Users/shavi/Documents/Code/airsim/cl/Coastline.exe"
PAS_PATH="C:/Users/shavi/Documents/Code/ProjectAirsim-Blocks-Windows/Windows/Blocks.exe"