JWT_SECRET_KEY='32 bit random string'
BACKENDPORT=8000

#Run task sim-stage with the SIM_SRC pointed at the downloaded zip of project airsim. Then point the following two arguments at the sim and signalling in the created build directory
PAS_PATH="build/sim"
PAS_SIGNALLING_DIR="build/signalling"
AS_PATH="C:/Users/shavi/Documents/Code/airsim/cl/Coastline.exe"
SQLITE_DB_PATH="C:/UNIVERSITY OF PRETORIA/YEAR 3/SEMESTER 2/COS 301/DATABASE/app.db"
SIM_SRC="C:/UNIVERSITY OF PRETORIA/YEAR 3/SEMESTER 2/COS 301/Copy of ProjectAirsim-Blocks-Windows/ProjectAirsim-Blocks-Windows/Windows"