.env
node_modules/
dist/
data/*.db
.venv
.egg-info
drone_services.egg-info
backend.egg-info
services.egg-info
backend.egg-info
__pycache__/
.pytest_cache
__pycache__
.coverage
.ruff*
site/
*.fig
.DS_Store
:Zone.Identifier
apps/backend/coverage.xml
package.json
package-lock.json